a {
    color: #A60040 !important;
    text-decoration:none !important;
    cursor:pointer !important;
}

    a:hover {
        color: #A60040 !important;
        cursor: pointer !important;
    }




.form-control:focus {
    color: black !important;
    background: #f3f1f9 !important;
    box-shadow: none !important;
    outline: 0 !important;
    border: 1px solid #A60040 !important;
}

select.form-control:focus::-ms-value {
    border: 1px solid #A60040 !important;
}

.btn-primary {
    border: 1px solid #A91E3F !important;
    background: #A91E3F !important;
    color: #fff !important;
    letter-spacing: .5px !important;    
}

    .btn-primary:hover {
        color: #fff !important;
        background-color: #343a40 !important;
        border: 1px solid #009a3e !important;
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 2px rgba(83, 18, 127, 0.1);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #A91E3F;
        border-color: #A91E3F;
        opacity: 0.7;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #A91E3F;
        border-color: #A91E3F;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 2px rgba(242, 242, 242, 0.1);
        }

.btn-secondary {
    color: #fff !important;
    background-color: black !important;
    border-color: black !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) !important;
}

    .btn-secondary:hover {
        color: #fff !important;
        background-color: #4e4e4e !important;
        border-color: #4e4e4e !important;
    }

    .btn-secondary:focus, .btn-secondary.focus {
        box-shadow: 0 0 0 2px #b356d8;
    }

    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
        color: #fff !important;
        background-color: #4e4e4e !important;
    }

.btn-light {
    color: #000 !important;
    background-color: #f5f6fb !important;
    border: 1px solid #ebe6f9 !important;
}

    .btn-light:hover {
        color: #605d71;
        background-color: #edeff9;
        border: 1px solid #ebe6f9 !important;
    }

    .btn-light:focus, .btn-light.focus {
        box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
    }

    .btn-light.disabled, .btn-light:disabled {
        color: #495057;
        background-color: #FAF9FF;
        border-color: #FAF9FF;
    }

    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
        color: #495057;
        background-color: #dae0e5;
        border-color: #d3d9df;
    }

        .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 2px rgba(248, 249, 250, 0.1);
        }

.btn-outline-primary {
    color: #A60040;
    background-color: transparent;
    background-image: none;
    border-color: #A60040 !important;
}

    .btn-outline-primary:hover {
        color: #fff!important;
        background-color: #A60040!important;
        border-color: #A60040!important;
    }

    .btn-outline-primary:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 2px rgba(242, 242, 242, 0.1);
    }

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #A60040;
        background-color: transparent;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #A60040;
        border-color: #A60040;
    }

        .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 2px rgba(242, 242, 242, 0.1);
        }

.btn-outline-secondary {
    color: #fe8264;
    background-color: transparent;
    background-image: none;
    border-color: #fe8264 !important;
}

    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #fe8264;
        border-color: #fe8264;
    }

    .btn-outline-secondary:focus, .btn-outline-secondary.focus {
        box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
    }

    .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
        color: #fe8264;
        background-color: transparent;
    }

    .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
        color: #fff;
        background-color: #fe8264;
        border-color: #fe8264;
    }

        .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 2px rgba(134, 142, 150, 0.1);
        }

.btn-link {
    color: #A60040;
}

    .btn-link:hover {
        color: #A60040;
    }

.notifyimg {
    background: #A60040;
}

.accordionjs .acc_section.acc_active > .acc_head {
    background: #A60040;
}

.sweet-alert button {
    background-color: #A60040 !important;
}

.addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active .addui-slider-value {
    background: #A60040;
}

.addui-slider .addui-slider-track {
    background: #A60040;
}

    .addui-slider .addui-slider-track .addui-slider-handle:after {
        background: #A60040;
    }

    .addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active {
        background: #A60040;
        box-shadow: none;
    }

    .addui-slider .addui-slider-track .addui-slider-range {
        background: #A60040;
    }

.timeline__item:after {
    border: 6px solid #A60040;
}

.spinLoader {
    color: #A60040 !important;
}

    .spinLoader, .spinLoader:before, .spinLoader:after {
        background: #A60040 !important;
    }

div.conv-form-wrapper div.options div.option {
    border: 1px solid #A60040;
    color: #A60040;
}

div.conv-form-wrapper div#messages div.message.from {
    background: #A60040;
}

form.convFormDynamic button.submit:hover {
    background: #A60040;
}

form.convFormDynamic button.submit {
    background: #A60040;
}

.fc-event, .fc-event-dot {
    background-color: #A60040;
}

.fc-event {
    border: 1px solid #A60040
}

.fc button {
    background: #A60040;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #A60040;
}

.cal1 .clndr .clndr-table tr .day.today, .cal1 .clndr .clndr-table tr .day.my-today {
    background: #A60040;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #A60040;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #A60040;
}

.cal1 .clndr .clndr-table .header-days {
    background: #A60040;
}

.offer-primary {
    border-color: #A60040;
}

    .offer-primary .shape {
        border-color: transparent #A60040 transparent transparent;
    }

.bg-gradient-primary {
    background: linear-gradient(87deg, #A60040 0, #A60040 100%) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #A60040;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: black;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #A60040;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #A60040;
    opacity: 0.6;
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: #A60040;
    opacity: 0.6;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #A60040;
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #A60040;
    opacity: 0.5;
}

.custom-select:focus {
    border-color: #A60040;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #A60040;
    box-shadow: none;
}

    .custom-file-input:focus ~ .custom-file-label::after {
        border-color: #A60040;
    }

.custom-file-label::after {
    background-color: #A60040;
    border-left: 1px solid #A60040;
}

.custom-range::-webkit-slider-thumb {
    background-color: #A60040;
}

.custom-range::-moz-range-thumb {
    background-color: #A60040;
}

.custom-range::-ms-thumb {
    background-color: #A60040;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #A60040 !important;
}

.page-link:hover {
    color: #A60040;
    border: 1px solid #A60040;
}

.page-link:focus {
    border: 1px solid #A60040;
}

.page-item.active .page-link {
    background-color: #A60040;
    border: 1px solid #A60040;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: #A60040;
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: #A60040;
}

.range.range-primary output {
    background-color: #A60040;
}

.range.range-primary input[type="range"] {
    outline-color: #A60040;
}

.pricing-table:hover .price-header {
    background-color: #A60040;
}

.nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
    color: #fff;
    background: #A60040;
}

.nav-tabs .nav-item1 .nav-link.active {
    color: #fff;
    background: #A60040;
}

.heading-primary {
    background-color: #A60040;
    color: #ffffff;
    padding: 5px;
}

.breadcrumb-item a {
    color: #A60040;
}

.breadcrumb-item1 a {
    color: #A60040;
}

.panel-title1 a {
    background: #A60040;
}

.badge-primary {
    color: #fff;
    background-color: #A60040;
}

    .badge-primary[href]:hover, .badge-primary[href]:focus {
        color: #fff;
        text-decoration: none;
        background-color: #A60040;
    }

.badge-secondary {
    color: #fff;
    background-color: #A60040;
}

    .badge-secondary[href]:hover, .badge-secondary[href]:focus {
        color: #fff;
        text-decoration: none;
        background-color: #A60040;
    }

.alert-primary {
    color: #fff;
    background-color: #A60040;
    border-color: #A60040;
}

    .alert-primary hr {
        border-top-color: #b7cded;
    }

    .alert-primary .alert-link {
        color: #172b46;
    }

.progress-bar {
    background-color: #A60040;
}

.list-group-item.active {
    color: #A60040;
}

.widget-info i {
    border: 2px solid #A60040;
}

.bg-primary {
    background-color: #A60040 !important;
    color: #fff;
}

.widget-primary {
    background-color: #A60040 !important;
    color: #fff;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #A60040 !important;
}

.bg-secondary {
    background-color: #bf69e2 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
    background-color: #b356d8 !important;
}

.border-primary {
    border-color: #A60040 !important;
}

.border-secondary {
    border-color: #868e96 !important;
}

.text-primary {
    color: #A91E3F !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #A91E3F !important;
}

.text-secondary {
    color: #bf69e2 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #61667d !important;
}

.header-bg {
    background: #A60040;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A60040, #A60040);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A60040, #A60040);
}

.footer .social ul li a {
    color: #fff;
    background: #A60040;
    height: 50px;
    width: 50px;
    padding: 10px;
}
    .footer .social ul li a:hover {
        background: #A60040;
        color:#fff;
        border: 2px solid #A60040;
    }

.nav-tabs .nav-link:hover:not(.disabled) {
    color: #fff !important;
    background: #A60040 !important;
}

.nav-tabs .nav-link.active {
    color: #fff !important;
    background: #A60040 !important;
}

.btn-white {
    color: #A60040;
}

    .btn-white:hover {
        color: #A60040;
    }

    .btn-white.disabled, .btn-white:disabled {
        color: #A60040;
    }

    .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
        color: #A60040;
    }

.expanel-primary {
    border: #A60040 !important;
}

.expanel-secondary {
    border: #bf69e2 !important;
}

.expanel-primary > .expanel-heading {
    color: #fff !important;
    background-color: #A60040 !important;
    border-color: #A60040 !important;
}

.expanel-secondary > .expanel-heading {
    color: #fff !important;
    background-color: #bf69e2 !important;
    border-color: #bf69e2 !important;
}

.avatar {
    background: #A60040 no-repeat center/cover;
}

.lds-circle > div {
    background: #A60040;
}

.lds-dual-ring:after {
    border: 5px solid #A60040;
    border-color: #A60040 transparent #A60040 transparent;
}

.lds-facebook div {
    background: #A60040;
}

.lds-heart div {
    background: #A60040;
}

    .lds-heart div:after, .lds-heart div:before {
        background: #A60040;
    }

.lds-ring div {
    border: 6px solid #A60040;
    border-color: #A60040 transparent transparent transparent;
}

.lds-roller div:after {
    background: #A60040;
}

.lds-default div {
    background: #A60040;
}

.lds-ellipsis div {
    background: #A60040;
}

.lds-grid div {
    background: #A60040;
}

.lds-hourglass:after {
    border: 26px solid #A60040;
    border-color: #A60040 transparent #A60040 transparent;
}

.lds-ripple div {
    border: 4px solid #A60040;
}

.lds-spinner div:after {
    background: #A60040;
}

.input-group-prepend > .btn, .input-group-append > .btn, .input-group-btn > .btn {
    height: 100%;
    border: 1px solid #A60040 !important;
}

.mediaicon {
    border: 1px solid #A60040;
    background: #A60040;
}

a.chip:hover {
    color: #fff;
    text-decoration: none;
    background-color: #A60040;
}

.highlight pre {
    border-left: 2px solid #A60040;
}

.selectgroup-input:checked + .selectgroup-button {
    border-color: #A60040;
    z-index: 1;
    color: #A60040;
}

.selectgroup-input:focus + .selectgroup-button {
    border-color: #A60040;
    z-index: 2;
    color: #A60040
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: black;
}

.demo-gallery > ul > li a {
    border: 2px solid #A60040;
    background: #A60040;
}

#back-to-top {
    background: #A91E3F;
}

    #back-to-top:hover {
        background: #FAF9FF;
        color: #A91E3F;
        border: 2px solid #A91E3F;
    }

.sidebar .tabs-menu ul li .active {
    background: #A91E3F;
    color: #fff;
    border: 1px solid #A91E3F;
    width:100%;
}

.tabs-menu ul li .active {
    background: #A91E3F;
    color: #fff;
    border: 1px solid #A91E3F;
    width: 100%;
}

.tabs-menu1 ul li .active {
    border-bottom: 3px solid #A91E3F;
    color: #A91E3F;
}

.sidebar .tab-menu-heading .tabs-menu ul li .active {
    background: #A91E3F;
}

.feature .border {
    border: 2px solid #A91E3F !important;
}

#count-down .clock-presenter {
    background: #A91E3F;
}

.navtab-wizard.nav-tabs .nav-link.active, .navtab-wizard.nav-tabs .nav-link:hover {
    color: #fff;
    background: #A91E3F;
}

.arrow-ribbon.bg-primary:before {
    border-left: 15px solid #A91E3F;
}

.chat .action-header {
    background: #A60040;
}

.header-1 .header {
    background: #A60040;
}

@media (max-width: 767px) {
    .search-show .search-element {
        background: #A60040;
    }
}

.page-headertabs .tabs-menu ul li a {
    border: 1px solid #A60040;
}

.wideget-user-icons a {
    background: #A60040;
}

/*--tree view--*/
.tree ul:before {
    color: #A60040;
}

.tree li i {
    color: #A60040;
}

.tree ul li:before {
    color: #A60040;
}

.tree ul li:last-child:before {
    color: #A60040;
}

/*--tinymce--*/
.mce-grid td.mce-grid-cell div:focus {
    border-color: #A60040
}

.mce-grid a:hover, .mce-grid a:focus {
    border-color: #A60040
}

.mce-grid-border a:hover, .mce-grid-border a.mce-active {
    border-color: #A60040;
    background: #A60040
}

.mce-primary {
    background-color: #A60040;
}

    .mce-primary:hover, .mce-primary:focus {
        background-color: #A60040;
    }

    .mce-primary.mce-active, .mce-primary.mce-active:hover, .mce-primary:not(.mce-disabled):active {
        background-color: #A60040
    }

.mce-menu-item.mce-disabled:hover {
    background: #A60040;
    color: #fff !important;
}

.mce-menu-item-normal.mce-active {
    background-color: #A60040;
}

.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
    color: #fff;
    background-color: #A60040
}

.mce-textbox:focus, .mce-textbox.mce-focus {
    border-color: #A60040
}

/*--tabs--*/
.wrapper > h1 span {
    border-bottom: 2px solid #A60040;
    color: #A60040;
}

.tab_wrapper > ul li.active {
    border-color: #A60040;
    background: #A60040;
    color: #fff;
}

.tab_wrapper .controller span {
    background: #A60040;
    color: #fff;
}

.tab_wrapper .content_wrapper .accordian_header.active {
    color: #A60040;
}

    .tab_wrapper .content_wrapper .accordian_header.active:after {
        background: #A60040;
    }

    .tab_wrapper .content_wrapper .accordian_header.active .arrow {
        border-top: 3px solid #A60040;
        border-left: 3px solid #A60040;
    }

.tab_wrapper.left_side > ul li.active:after {
    background: #A60040;
}

.tab_wrapper.right_side > ul li.active:after {
    background: #A60040;
}

/*--Sweet alert--*/
.sweet-alert {
    background-image: linear-gradient(90deg, #A60040, #A60040), linear-gradient(90deg, #A60040, #A60040);
    border-left: 2px solid #A60040;
    border-right: 2px solid #A60040;
}

.app-sidebar__toggle {
    color: #A60040;
}

    .app-sidebar__toggle:hover {
        color: #A60040;
    }

.profile-settings a i {
    background: #A60040;
}

/*--Side Menu--*/
.slide.is-expanded a:hover {
    color: #A60040;
}

.slide.is-expanded [data-toggle='slide'] {
    color: #A60040;
    font-weight: 400;
}

.slide-item:hover {
    background: #f1f1ff;
    color: #A60040;
}

.slide.is-expanded [data-toggle='slide'] span, .slide .side-menu__item.active span {
    color: #A60040 !important;
}

.app-sidebar .side-menu li a.active {
    color: #A60040 !important;
}

    .app-sidebar .side-menu li a.active .side-menu__icon {
        color: #A60040;
    }

.app-sidebar .side-menu .slide-menu li a.active {
    background: transparent !important;
    color: #A60040 !important;
}

/*--Select2--*/
.select2-dropdown {
    border: 1px solid #A60040;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #A60040;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
        border: 1px solid #A60040;
    }

.select2-container--default .select2-selection--multiple {
    border: 1px solid #A60040;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border: 1px solid #A60040;
    }

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #A60040
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #A60040;
    color: white
}

.select2-container--classic .select2-selection--single {
    border: 1px solid #A60040;
}

    .select2-container--classic .select2-selection--single:focus {
        border: 1px solid #A60040
    }

    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        border-left: 1px solid #A60040;
    }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border-right: 1px solid #A60040;
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #A60040
}

.select2-container--classic .select2-selection--multiple {
    border: 1px solid #A60040;
}

    .select2-container--classic .select2-selection--multiple:focus {
        border: 1px solid #A60040
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__choice {
        border: 1px solid #A60040;
    }

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #A60040
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #A60040;
    outline: 0
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #A60040;
    color: #fff
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #A60040
}

/*-- rangeslider--*/
.irs-bar {
    border-top: 1px solid #A60040;
    background: #A60040;
    background: #A60040;
}

.irs-bar-edge {
    border: 1px solid #A60040;
    background: #A60040;
}

.irs-from, .irs-to, .irs-single {
    background: #A60040;
}

.irs-grid-pol {
    opacity: 0.5;
    background: #A60040;
}

/*--Multiple Select--*/
.ms-drop {
    border: 1px solid #A60040;
}

.ms-search input {
    border: 1px solid #A60040;
}

/*--Horixontal Menu--*/
.horizontalMenu > .horizontalMenu-list > li > a .si {
    color: #A60040;
}

.horizontalMenu > .horizontalMenu-list > li > ul.sub-menu > li > a:hover {
    color: #A60040;
}

.horizontalMenu > .horizontalMenu-list > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    color: #fff;
}

.horizontalMenu > .horizontalMenu-list > li > a.active {
    border: 1px solid #A60040;
    background-color: #A60040 !important;
    color: #fff !important;
}

.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu li a:hover {
    color: #A60040;
}

@media only screen and (max-width: 991px) {
    .animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
        background: #343a40;
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    background-color: #A60040;
}

/*--Chartist--*/
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #A60040;
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
    fill: #A60040;
}

/*--Calendar--*/
.cal1 .clndr .clndr-table tr .day.today.event, .cal1 .clndr .clndr-table tr .day.my-today.event {
    background: #A60040;
}

.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover {
    background: #A60040;
    color: #fff;
}

.cal1 .clndr .clndr-table tr .empty:hover, .cal1 .clndr .clndr-table tr .adjacent-month:hover, .cal1 .clndr .clndr-table tr .my-empty:hover, .cal1 .clndr .clndr-table tr .my-adjacent-month:hover {
    background: #A60040;
    color: #fff;
}

.pulse {
    box-shadow: 0 0 0 rgba(137, 102, 247, 0.9);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(137, 102, 247, 0.9);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(137, 102, 247, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(137, 102, 247, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(137, 102, 247, 0.9);
        box-shadow: 0 0 0 0 rgba(137, 102, 247, 0.7);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(137, 102, 247, 0);
        box-shadow: 0 0 0 10px rgba(137, 102, 247, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(137, 102, 247, 0);
        box-shadow: 0 0 0 0 rgba(137, 102, 247, 0);
    }
}

.error-content {
    box-shadow: 0 4px 20px 0 rgb(137, 102, 247, 0.05);
}

.chat abbr.timestamp {
    background: rgb(137, 102, 247, 0.8);
}

.dropdown-menu.show {
    box-shadow: 0px 5px 25px rgba(137, 102, 247, 0.2);
}

.profile-buttons a {
    position: absolute;
    box-shadow: 0 14px 26px -12px rgba(137, 102, 247, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(137, 102, 247, 0.2) !important;
    transition: all 0.5s;
}

.card {
    box-shadow: 0 1px 1.25rem rgb(137, 102, 247,0.09);
}

.header .dropdown-menu {
    margin-top: 5px;
    box-shadow: 0px 5px 25px rgba(137, 102, 247, 0.2);
}

@media (min-width:768px) {
    .sticky-wrapper.is-sticky .app-header.navbar-collapse {
        box-shadow: 0 0 1.25rem rgb(137, 102, 247,0.15);
    }
}

.app-header {
    box-shadow: 0 4px 20px 0 rgb(137, 102, 247,0.05);
}

.profile-settings a i {
    box-shadow: 0 14px 26px -12px rgba(137, 102, 247,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(137, 102, 247,0.2) !important;
}

.horizontalMenucontainer {
    box-shadow: 0 0 1.25rem rgb(137, 102, 247,0.09);
}

.horizontalMenu > .horizontalMenu-list > li > a.active {
    background: #A60040;
}

.horizontalMenucontainer {
    box-shadow: 0 0 1.25rem rgb(137, 102, 247,0.09);
}

.sticky-wrapper.is-sticky .horizontal-main {
    box-shadow: 0 0 1.25rem rgb(137, 102, 247,0.09);
}

.horizontalMenucontainer .app-header {
    box-shadow: 0 4px 20px 0 rgb(137, 102, 247,0.05);
}

.app-sidebar__user {
    background: url(../../../assets/images/media/user-bg.png);
}

.dark-mode .app-sidebar__user {
    background: url(../../../assets/images/media/user-bg.png);
}

